* {
    margin: 0;
}

body {
    
    display: flex;
}

textarea {
    resize: none;
}

.label {

    background-color: #0f0f0f71;
    border-radius: 3px 3px;
    color: #deb887;
    font-size: 14px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-basis: 3;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

.popupContent {

    align-content: stretch;
    color:#666;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 10px;;
    
}

    .popupContent div h2 {

        background-color: #0f0f0f;
        border-radius: 3px 3px 0 0;
        
        color: #deb887;
        padding: 10px;
        margin: -7px -7px 7px -7px;
        text-align: center;
    }

    .popupContent span {

        border-bottom:thin 1px #0f0f0f;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .popupContent div:nth-child(3) {

        color: #000;
        font-weight: 900;
    }

    .popupContent div:nth-child(2) {

        color: #d400ff;
    }

    .popupContent div:nth-child(2), .popupContent div:nth-child(3) {
        padding-bottom: 10px;;
    }

    .popupContent img {
        width: 220px;
    }

#map {

    height: 100vh;
    width: 85vw;
}

#right-panel {

    background-color: #3f3f3f;
    background-image: url('./img/Pieds.png');
    border-left: solid 1px #fefefe;
    display: flex;
    flex-basis: 1;
    flex-direction: column;
    padding: 10px;
    margin-top: -10px;
    min-width: 15vw;
}

#right-panel div * {

    border: solid 2px #000000bd;
    border-radius: 0 0 3px 3px;flex-grow: 1;
    color: #333;
    padding-left: 5px;
}

button {

    background-color: #0a0a0aa4;
    border: solid 1px black;
    border-radius: 7px;
    color:#fff;
    cursor: pointer;
    height: 45px;
    margin: 50px 0;
    
}

    button:hover {

        background-color: #272119d3;
        color: #fff;
    }

    button:active {

        background-color: #fefefe88;
        border: solid 1px orange;
        color:#0f0f0f;
    }

    #btnRefresh:hover {
        background-color: #272119d3;
        color: #fff;
    }

    